<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingblocks.sih19">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameActivity"></activity>
        <activity android:name=".HelperViedoActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".NearbyPlacesMapView" />
        <activity android:name=".NearbyPlacesActivity" />
        <activity android:name=".ImmunizationActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4GjGI7-L3pnpRE2c8mAUYrr6LEyjmQqg" />

        <activity android:name=".MainActivity1">

        </activity>
        <activity android:name=".ImmunizationFAQActivity" />
        <activity android:name=".GovtSchemsActivity" />
        <activity android:name=".GovtDetailActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".NearbyPlace.ActivityMapsCurrentPlace" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".NGODetailActivity" />
        <activity android:name=".DietActivity" />
        <activity android:name=".FlashcardActivity" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".DranDropGame" />
        <activity android:name=".NumberDragDropGameActivity" />
        <activity android:name=".ColourDragDropActivity" />
        <activity android:name=".FruitDragDropActivity" />
        <activity android:name=".ColourDailyObject" />
        <activity android:name=".InputActivity"/>
        <activity android:name=".QuizGame" />
        <activity android:name=".DragLevel1" />
        <activity android:name=".GamesActivity"/>
        <activity android:name=".ColorActivity1"/>
        <activity android:name=".ColorActivity2"/>
        <activity android:name=".DragDropLevel2"/>
        <activity android:name=".DataBank"/>
        <activity android:name=".VoiceTherapy" />
        <activity android:name=".NearbyPlace.Notification"/>
    </application>

</manifest>